<div class="main-route-item-header">
  Credit Opportunities With Good Approval Odds <sup>t</sup>
</div>
<div class="main-route-item">
  <div class="row">
    <div class="col-md-8 less-bold">
      Barclaycard CashForward World MasterCard<sup>rm</sup>
    </div>
    <div class="col-md-4 right-align">
      <rating [(ngModel)]="rating" [max]="5"></rating>
      <span
        [innerHTML]="(reviewCount | thousandSep) + ' Reviews'"
        class="reviews-count"
      >
      </span>
    </div>
  </div>
  <div class="row top-margin">
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-7">
          <img
            src="assets/images/bankcard.jpg"
            alt="Card Image"
            class="full-width"
          />
        </div>
        <div class="col-sm-5 center-flex">
          <div>
            Approval Odds
          </div>
          <div class="top-margin-slight">
            <button class="btn action-button">
              Very Good
            </button>
          </div>
        </div>
      </div>
      <div>
        <button
          class="btn apply-button"
          routerLink="/navtwo/register"
        >
          Apply Now
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <app-ul-list [list]="cardBenefitsList"> </app-ul-list>
    </div>
  </div>
</div>
