.top-container {
  height: 75vh;
  background: #22123a;
  padding-top: 50px;
}
.top-container-content {
  padding: 0 20px;
}
.top-container-heading {
  color: white;
  font-size: 98px;
  font-weight: bold;
  padding-left: 30px;
  transition: 0.7s;
}
.text-changing {
  opacity: 0;
}
@media (max-width: 992px) {
  .top-container-heading {
    font-size: 60px;
    padding-left: 17px;
  }
}
