<div class="main-route-item-header">
  Credit Opportunities With Good Approval Odds <sup>t</sup>
</div>
<div class="main-route-item">
  <div class="full-width data-action-panel">
    <button routerLink="/navtwo/register" class="btn action-button right-margin-slight">
      Add New Item
    </button>
    <button class="btn action-button right-margin-slight">
      Delete Recent
    </button>
    <button class="btn action-button right-margin-slight">
      Delete All
    </button>
  </div>
  <app-data-list [data]="currentData" [cols]="tableCols"> </app-data-list>
</div>
