<div class="main-route-item-header">
  Credit Opportunities With Good Approval Odds <sup>t</sup>
</div>
<div class="main-route-item">
  <div class="full-width data-action-panel">
    <button routerLink="/navtwo/register" class="btn data-action-button">
      Add New Item
    </button>
    <button (click)="deleteRecent()" class="btn data-action-button">
      Delete Recent
    </button>
    <button (click)="deleteAll()" class="btn data-action-button">
      Delete All
    </button>
  </div>
  <app-loading [loading]="loading">
    <app-data-list [data]="currentData" [cols]="tableCols"></app-data-list>
  </app-loading>
</div>
