<nav class="st-navbar">
  <a
    class="st-nav-link"
    (click)="navIndexChange.emit('navone')"
   routerLink="/navone"
    ><span class="hide-on-small">
      Navigation 
    </span>Link 1
  </a>
  <a
    class="st-nav-link"
    (click)="navIndexChange.emit('navtwo')"
   routerLink="/navtwo"
    ><span class="hide-on-small">
      Navigation 
    </span>Link 2
  </a>
  <a
    class="st-nav-link"
    (click)="navIndexChange.emit('navthree')"
    routerLink="/navthree"
    ><span class="hide-on-small">
      Navigation 
    </span>Link 3
  </a>
</nav>
