<div class="row">
    <div class="col-md-7">

        <div class="row form-field">
            <div class="col-md-1 form-label">
                <label class="form-label">Name: </label>
            </div>
            <div class="col-md-11 form-input">
                <input appCurreny class="form-control"/>
            </div>
        </div>
        <div class="row form-field">
            <div class="col-md-1 form-label">
                <label class="form-label">Email: </label>
            </div>
            <div class="col-md-11 form-input">
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="register-info-container">
            
        </div>
    </div>
</div>