<div class="register-form">
  <div class="row form-field">
    <div class="col-md-3 form-label">
      <label class="form-label">Name: </label>
    </div>
    <div class="col-md-9 form-input">
      <input class="form-control" />
    </div>
  </div>
  <div class="row form-field">
    <div class="col-md-3 form-label">
      <label class="form-label">Email: </label>
    </div>
    <div class="col-md-9 form-input">
      <input class="form-control" />
    </div>
  </div>
  <div class="row form-field">
    <div class="col-md-3 form-label">
      <label class="form-label">Min Amount: </label>
    </div>
    <div class="col-md-9 form-input">
      <input appCurreny class="form-control" />
    </div>
  </div>
</div>
