/* You can add global styles to this file, and also import other style files */
:root {
  --material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}
body {
  background-color: #f1f5f9;
}
.vertical-space {
  height: 20px;
}
.right-align {
  text-align: right;
}
.top-margin {
  margin-top: 25px;
}
.full-width {
  width: 100%;
}
.top-container-heading {
  color: white;
  font-size: 30px;
}
.invalid-field-text{
  color: red;
  font-size: 12px;
}
.action-button{
  border-radius: 20px;
  background: #00c4ff;
  color: white;
  font-weight: 500;
}
.main-route-container .main-route-item {
  background-color: white;
  min-height: 150px;
  margin: 35px 45px;
  border-radius: 1px;
  padding: 30px 60px;
}
